/* SponsorSection.css */
.sponsor-section {
  overflow: hidden;
  width: 50vw;
  margin: 0 auto;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

.sponsor-track {
  display: inline-flex;
  animation: scroll 10s linear infinite;
}

/* Logo styling */
.sponsor-logo {
  height: 120px;
  margin: 0 10px;
  flex-shrink: 0;
}

/* Infinite scrolling animation */
@keyframes scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
