.nav {
  background-color: rgb(27, 27, 27);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(2rem, -1.75rem + 12vw, 5rem);
  text-align: center;
  max-width: 90%;
  word-wrap: break-word;
}
.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 2rem;
  height: 40vh;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}
.vidcontainer {
  width: 100%;
  height: auto;
}

.vid1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.count-vid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  max-width: 80%;
  width: 100%;
}

.rgbtn {
  background-color: transparent;
  border: 1px solid rgb(200, 21, 128);
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgb(200, 21, 128), 0px 0px 15px rgb(200, 21, 128);
}

.rgbtn:hover {
  background-color: rgb(200, 21, 128);
}

@media (max-width: 768px) {
  .title {
    top: 45%;
  }

  .rgbtn {
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media (max-width: 600px) {
  .title {
    top: 45%;
  }

  .rgbtn {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  nav {
    height: 45px;
    padding: 0 10px;
  }

  .count {
    height: 25vh;
  }

  .h {
    font-size: 16px;
  }

  .title {
    top: 23%;
  }

  .rgbtn {
    font-size: 12px;
    padding: 7px 12px;
  }
}

@media (max-width: 375px) {
  .title {
    top: 38%;
  }

  .count {
    height: 20vh;
  }

  .rgbtn {
    font-size: 12px;
    padding: 6px 10px;
  }
}

@media (max-width: 412px) {
  .title {
    top: 20%;
  }
  .rgbtn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
