/* HorizontalScroll.css */

.scroll-container {
  width: 100%;
  overflow-x: scroll; /* Allow horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
  display: flex;
  justify-content: center;
  position: relative;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

/* For Webkit browsers (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.scroll-content {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.scroll-content li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px; /* Optional: space between images */
}

/* Updated responsive image scaling */
.scroll-image {
  max-width: 400px; /* Increased max-width for better image visibility / / Ensures images scale based on the container */
  height: auto;
  padding: 5px;
  display: inline-block;
}

/* Media queries for smaller screen sizes */
@media (max-width: 360px) {
  .scroll-image {
    width: 190px;
  }
}

@media (max-width: 412px) {
  .scroll-image {
    width: 190px;
  }
}
